:root {
    --color-primary: Dimgray;
    --second-color: #6ed6ff;
    --tertiary-color: Gainsboro;
}
body {
    background-color: var(--second-color);
    font-size: 15px;
    font-family: 'lato',sans-serif;
}
#container {
    height: 525px;
    width: 360px;
    margin: 100px auto;
    background: #f7f7f7;
    box-shadow: 5px 5px 20px var(--tertiary-color);
    border-radius: 20px;
}

.titlle{
    background: var(--tertiary-color);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}